<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="app" id="app">
    <div class="app-login">
      <div class="app-login__error">{{ error }}</div>
      <form action="" class="app-login__form" @submit.prevent="login">
        <div class="app-login__control">
          <input
            type="text"
            name="username"
            placeholder="Username"
            v-model="credentials.username">
        </div>
        <div class="app-login__control">
          <input
            type="password"
            name="password"
            placeholder="Password"
            v-model="credentials.password">
        </div>
        <div class="app-login__control">
          <button
            type="submit"
            @click="login">{{ button }}</button>
        </div>
      </form>
    </div>
  </div>
  <script src="vendor/vue.js"></script>
  <script src="js/login.js"></script>
</body>
</html>