<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="dist/app.bundle.css">
</head>
<body>
  <div class="app" id="app">
    <div class="app-login">

      <div
        class="app-login__error"
        :class="{ __show: error }">
        <div class="app-login__error-message">{{ errorMessage }}</div>
      </div>

      <form action="" class="app-login__form" @submit.prevent="login">

        <div class="app-login__control">
          <input
            type="text"
            name="username"
            class="app-login__input"
            placeholder="Username"
            v-model="credentials.username"
            @focus="hideError">
        </div>

        <div class="app-login__control">
          <input
            type="password"
            name="password"
            class="app-login__input"
            placeholder="Password"
            v-model="credentials.password"
            @focus="hideError">
        </div>

        <div class="app-login__control">
          <button
            type="submit"
            class="app-login__button">{{ button }}</button>
        </div>

        <div class="app-login__control">
          <div class="app-login__links">
              <div
                v-for="link in links"
                class="app-login__link"
                @click="openLink(link.url)">{{ link.title }}</div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <script src="vendor/vue.js"></script>
  <script src="vendor/vuex.js"></script>
  <script src="js/AppLogin.js"></script>
</body>
</html>